/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* General CSS */
.page-title {
	margin-top: 50px;
	margin-bottom: 80px;
}

/* Homepage */
article#homepage .section-title {
	margin-top: 60px;
	margin-bottom: 10px;
}
article#homepage .argument-image {
	text-align: center;
}
@media (max-width: 991px) and (min-width: 500px) {
	article#homepage .argument-image {
		float:left;
		clear:left;
		margin-right: 20px;
	}
}

/* Tour */
article#tour .argument {
	margin-bottom: 50px;
}
article#tour .photo img {
	max-width: 100%;
}
article#tour .odd .bottomphoto {
	display: none;
}
@media (max-width: 991px) {
	article#tour .odd .bottomphoto {
		display: block;
	}
	article#tour .odd .topphoto {
		display: none;
	}
}
@media (max-width: 768px) {
	article#tour .photo {
		text-align: center;
	}
}

article#pricing .plan {
	text-align: center;
}