/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* General CSS */
.page-title {
	margin-top: 50px;
	margin-bottom: 80px;
}

/* Homepage */
article#homepage .section-title {
	margin-top: 60px;
	margin-bottom: 10px;
}
article#homepage .argument-image {
	text-align: center;
}
@media (max-width: 991px) and (min-width: 500px) {
	article#homepage .argument-image {
		float:left;
		clear:left;
		margin-right: 20px;
	}
}
article#homepage #pricewell {
	text-align: center;
	margin: 100px 0 80px;
	font-size: 1.5em;
}
@media (min-width: 500px) {
	article#homepage #pricewell {
		margin-left: 50px;
		margin-right: 50px;
	}
}
@media (max-width: 767px) {
	article#homepage .jumbotron p {
		font-size: 0.9em;
	}
}

/* Tour */
article#tour .argument {
	margin-bottom: 50px;
}
article#tour .photo img {
	max-width: 100%;
}
article#tour .odd .bottomphoto {
	display: none;
}
@media (max-width: 991px) {
	article#tour .odd .bottomphoto {
		display: block;
	}
	article#tour .odd .topphoto {
		display: none;
	}
}
@media (max-width: 768px) {
	article#tour .photo {
		text-align: center;
	}
}

/* Pricing */
article#pricing .plans {
	text-align: center;
	margin-bottom: 50px;
}
article#pricing .plan {
	margin-bottom: 20px;
}
article#pricing .planframe {
	margin: 0 10px;
	padding: 10px;
	border-radius: 40px;
	box-shadow: 5px 5px 5px #888888;
}

/* About us */
article#about .staff {
	text-align: center;
}
article#about .title {
	font-style: italic;
	color: #888888;
}
@media (max-width: 991px) {
	article#about .photo {
		float: left;
	}
	article#about .staff {
		clear: left;
	}
}

/* Blog nav */
#blog-nav {
	margin-bottom: 50px;
}
#blog-nav .blog-tags,
#blog-nav .blog-search {
	margin-top: 20px;
	text-align: right;
}
#blog-nav .dropdown {
	margin-top: 20px;
}
#blog-nav .blog-tags label {
	margin-right: 10px;
	font-weight: normal;
	font-style: italic;
}

/* Blog list */
#blog-list .container {
	margin-bottom: 100px;
}
#blog-list .image {
	text-align: center;
}
#blog-list .preview,
#blog-list .image {
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
}
#blog-list .container .blog-post:first-child .image,
#blog-list .container .blog-post:first-child .preview {
	border: 0;
}
@media (max-width: 991px) {
	#blog-list .preview {
		border : 0;
		padding-top: 0;
	}
}
#blog-list .preview .date {
	font-style: italic;
}
#blog-list .blog-post {
	padding-bottom: 10px;
	margin-bottom: 20px;
}
#blog-list a {
	color: black;
}
#blog-list .empty {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 50px;
}
#blog-list .empty h3 {
	margin-bottom: 30px;
}
#blog-list .empty form {
	max-width: 300px;
	margin: auto;
}

/* Blog post */
#blogpost .metainformation {
	margin: 30px;
	float: right;
	font-style: italic;
	min-height: 140px;
}
@media (max-width: 991px) {
	#blogpost .metainformation {
		float: none;
	}
}
#blogpost .metainformation .authorimage {
	float:left;
	margin-right: 20px;
	text-align: center;
}
@media (max-width: 500px) {
	#blogpost .metainformation .authorimage {
		float: none;
		margin: 0;
	}
	#blogpost .metainformation .authorimage img {
		height: 50px;
		width: 50px;
	}
	#blogpost .metainformation {
		text-align: center;
	}
}
#blogpost p.image {
	text-align: center;
}
#blogpost p.image img {
	max-width: 100%;
}