<span data-picture>
	<span data-src="<%= image.views[2].url %>"></span>
    <span data-src="<%= image.views[1].url %>" data-media="(min-width: 767px)"></span>
    <span data-src="<%= image.views[0].url %>" data-media="(min-width: 992px)"></span>
    <noscript>
        <img src="<%= image.views[2].url %>">
	</noscript>
</span>