<span data-picture data-alt="A giant stone face at The Bayon temple in Angkor Thom, Cambodia">
	<span data-src="<%= image.views[2].url %>"></span>
    <span data-src="<%= image.views[1].url %>" data-media="(min-width: 767px)"></span>
    <span data-src="<%= image.views[0].url %>" data-media="(min-width: 992px)"></span>
    <span data-src="<%= image.views[1].url %>" data-media="(min-width: 1200px)"></span>

    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
    <noscript>
        <img src="external/imgs/small.jpg" alt="A giant stone face at The Bayon temple in Angkor Thom, Cambodia">
	</noscript>
</span>