<div id="blog-nav" class="row">
	<div class="col-md-9 blog-tags hidden-xs">
		<label>Filter by category</label>
		<div class="btn-group">
			<% @blog_categories.each do |category| %>
				<%= link_to category, blog_category_path(category, ref: @maybe_ref), :class => 'categorylink btn btn-default'+(category == params[:slug] || (@document && @document['blog.category'] && category == @document['blog.category'].value) ? ' active' : '') %>
			<% end %>
		</div>
	</div>
	<div class="col-md-9 dropdown visible-xs">
		<button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			Filter by category
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<% @blog_categories.each do |category| %>
				<li role="presentation">
					<%= link_to category, blog_category_path(category, ref: @maybe_ref), :role => "menuitem", :tabindex => "-1" %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="col-md-3 blog-search">
		<%= render partial: "blogsearch" %>
	</div>
</div>