<form class="input-group" action="<%= blog_search_path %>">
	<input type="text" name="q" class="form-control" placeholder="Search in the blog" value="<%= params[:q] %>">
	<% if @maybe_ref %>
		<input type="hidden" name="ref" value="<%= @maybe_ref %>">
	<% end %>
	<span class="input-group-btn">
		<button class="btn btn-default" type="submit">Search</button>
	</span>
</form>